@model IEnumerable<SchedulerMVC.Models.Plan>

@{
    ViewBag.Title = "AllNote";
}

<h2>Список заметок</h2>

<form asp-controller="Plans" asp-action="AllNote">
    <p>
        Note: <input type="text" name="searchNote" placeholder="Поиск">
        <input type="submit" value="Поиск" class="btn btn-default"/>
    </p>
</form>

<table class="table table-striped">
    <tr>
        <th>
            Note
        </th>
        <th>
            Date
        </th>
        <td></td>
    </tr>
    @if (Model.ToList().Count == 0 || Model.ToList() == null)
    {
        <tr>
            <td class="text-muted font-weight-lighter" colspan="3" style="text-align: center">Список пуст</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td class="notewidth">
                    @item.Note
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Plans", new { id = item.Id })" type="button" class="btn btn-default">Редактировать</a>
                    <a href="@Url.Action("Delete", "Plans", new { id = item.Id })" type="button" class="btn btn-default">Удалить</a>
                </td>
            </tr>
        }
    }
</table>